.Wel {
	padding: 0px 10px 2px 10px;
    position: relative;
	font-family: arial;	
	width: 1000px; 
	font-size: 18px;
    color: grey;
	text-align: justify;
	line-height: 1.2;
}


.Pub {
	padding: 0px 10px 2px 10px;
	position: relative;
	font-family: arial;	
	width: 1000px; 
	text-align: justify;
	font-size: 18px;
	line-height: 1.2;
}

.Edu {
	padding: 0px 10px 2px 10px;
	position: relative;
	font-family: arial;	
	width: 1000px;
	text-align: justify;
	}

.Photo {
	position: float;
	left: 10px;
	font-family: arial;	
	width:300px;
	}
	
 h1{
	background-color: Darkred;
    color: white;
	font-family: arial;
	font-size: 28px;
	text-transform: uppercase;
	font-family: arial;	
	text-align: center;
}

 h4{
    color: royalblue;
	font-family: arial;
	font-size: 32px;
	text-transform: uppercase;
	font-family: arial;	
	text-align: left;
}

h3 {
	font-size: 24px;
	font-family: Georgia;
}

#Edu1 { 
     color: DimGray;
}

p {  font-size: 20px;
     color: DimGray;
}

body{
  position: relative; 
  left: 50%;
  margin-top: 20px;
  margin-left: -500px;
}

a{
 color:royalblue;
}